<div class="landing-container">
  <header class="landing-header">
    <h1>Bienvenido a CryptoMonedas</h1>
    <p>Monitorea tus criptomonedas favoritas y mantente actualizado con los precios más recientes.</p>
    <button routerLink="/monedas" class="landing-button">Ver Monedas</button>
  </header>

  <!-- Sección: Características -->
  <h2>Características Principales</h2><br>
  <section class="features">
    <div class="feature">
      <img src="../../assets/caracteristica1.jpg" alt="Seguimiento de Monedas">
      <h3>Seguimiento en Tiempo Real</h3>
      <p>Sigue el precio de tus criptomonedas en tiempo real desde cualquier dispositivo.</p>
    </div>
    <div class="feature">
      <img src="../../assets/caracteristica2.jpg" alt="Alertas Personalizadas">
      <h3>Alertas Personalizadas</h3>
      <p>Configura alertas personalizadas para tus criptomonedas cuando alcancen precios específicos.</p>
    </div>
    <div class="feature">
      <img src="../../assets/caracteristica3.jpg" alt="Análisis de Datos">
      <h3>Análisis Profundo</h3>
      <p>Accede a análisis detallados para tomar decisiones de inversión más informadas.</p>
    </div>
  </section>

  <!-- Sección: Testimonios -->
  <section class="testimonials">
    <h2>Lo Que Nuestros Usuarios Dicen</h2>
    <blockquote>
      <p>"CryptoMonedas me ha ayudado a entender el mercado y optimizar mis inversiones en cripto."</p>
      <footer>— Usuario Satisfecho</footer>
    </blockquote>
    <blockquote>
      <p>"Gracias a las alertas personalizadas, nunca me pierdo los momentos críticos del mercado."</p>
      <footer>— Inversionista Entusiasta</footer>
    </blockquote>
  </section>

  <!-- Sección: Monitorear -->
  <section class="monitorear">
    <h2>Comienza a Monitorear Tus Criptomonedas Hoy</h2>
    <p>Únete a los miles de usuarios que ya están aprovechando las herramientas avanzadas de CryptoMonedas.</p>
    <button routerLink="/login" class="register-button">Regístrate Gratis</button>
  </section>

  <!-- Contenido visual -->
  <div class="landing-content">
    <img src="../../assets/landingPage-img.jpg" alt="Cryptomonedas">
  </div>
</div>
