/* Estilos generales para el contenedor del formulario */

.main-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh; 
    margin: 0; 
    background-image: url("../../assets/fondo-login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container {
    background-color: #2c2c2c; 
    color: #fff; 
    font-family: 'Arial', sans-serif; 
    max-width: 400px; 
    padding: 20px; 
    margin-top: 100px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}


/* Estilos para los encabezados dentro del contenedor */
.login-container h1, .login-container h2 {
    text-align: center; 
}
  
/* Estilos para los formularios */
form {
    display: flex;
    flex-direction: column; 
}
  
/* Estilos para los inputs */
input[type="email"], input[type="password"], input[type="text"] {
    padding: 10px; 
    margin: 10px 0; 
    border: none; 
    border-radius: 4px; 
    background-color: #404040; 
    color: #fff; 
}
  
/* Estilos para los botones */
button {
    background-color: #556272; 
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease-in 0.3s;
}
  
button:hover {
    background-color: #66788A; 
}
  
/* Media queries para adaptabilidad a diferentes tamaños de pantalla */
@media (max-width: 600px) {
    .login-container {
      width: 95%; 
      margin: 10px auto; /* Menos margen vertical en pantallas pequeñas */
    }
}
  