<div class="main-container">
    <div class="login-container">
        <h1>Iniciar Sesión</h1>
        <!-- Formulario de inicio de sesión -->
        <form (ngSubmit)="signInWithEmail()">
            <input type="email" [(ngModel)]="signInEmail" name="signInEmail" placeholder="Correo Electrónico" required>
            <input type="password" [(ngModel)]="signInPassword" name="signInPassword" placeholder="Contraseña" required>
            <button type="submit">Iniciar Sesión</button>
        </form>
        <button (click)="signInWithGoogle()">Iniciar Sesión con Google</button>
        <button (click)="signInWithGitHub()">Iniciar Sesión con GitHub</button>
      
        <h2>Registrarse</h2>
        <!-- Formulario de registro -->
        <form (ngSubmit)="registerWithEmail()">
            <input type="text" [(ngModel)]="name" name="name" placeholder="Nombre" required>
            <input type="email" [(ngModel)]="registerEmail" name="registerEmail" placeholder="Correo Electrónico" required>
            <input type="password" [(ngModel)]="registerPassword" name="registerPassword" placeholder="Contraseña" required>
            <button type="submit">Registrarse</button>
        </form>
        <button (click)="signInWithGoogle()">Registrarse con Google</button>
        <button (click)="signInWithGitHub()">Registrarse con GitHub</button>
    </div>
</div>

